<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Todo App</title>  
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='template.css')}}">  
  
</head>  
<body>  
    {% extends "template.html" %}

        {% block content %}
    <h1>Todo List</h1>  
    <div>Add a new todo item:  
        <form action="{{ url_for('add') }}" method="POST">  
            <input type="text" name="todoitem">  
            <input type=checkbox name="prioritycheck"> Priority? <br/>
            <input type="submit" value="Add Item" class="button">  
        </form>  
    </div>  
    <div>  
        <h2>Incomplete Items</h2>  
        <ul>  
            {% for todo in incomplete %}  
            <li style="list-style-type:none">
                <a href="{{ url_for('complete', id=todo.id) }}"><Button class="button">
                    {{ todo.text }}
                    </Button></a>
             </li>  
            {% endfor %}      
        </ul>  
        <h2>Completed Items</h2>  
        <ul>  
            {% for todo in complete %}  
            <li style="list-style-type:none">{{ todo.text }}</li>  
            {% endfor %}  
        </ul>  
    </div>  
    {% endblock %}
</body>  
</html> 